@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-noise {
	animation: bg-noise 1s steps(10) infinite;
	background-image: url(/images/bg-noise.png);
	width: 300vw;
	height: 300vh;
	left: -100vw;
	position: fixed;
	z-index: -99999;
}

@keyframes bg-noise {
	from {
		transform: translate(-10%, 0px);
	}

	to {
		transform: translate(10%, 0px);
	}
}
