<!doctype html>
<html
	lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
	dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>
			{{ if .IsHome }}
				{{ site.Title }}
			{{ else }}
				{{ printf "%s | %s" .Title site.Title }}
			{{ end }}
		</title>
		{{ partialCached "head/css.html" . }}
		{{ partialCached "head/js.html" . }}
	</head>
	{{/* <div class="animate-noise noise"></div> */}}
	<body
		class="flex min-h-screen flex-col bg-gray-50 text-slate-900 dark:bg-gray-900 dark:text-slate-50"
	>
		{{ partial "header.html" . }}
		<main class="container prose grow p-4 dark:prose-invert">
			{{ block "main" . }}{{ end }}
		</main>
		{{ partial "footer.html" . }}
	</body>
</html>
