<!doctype html>
<html
	lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
	dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>
			{{ if .IsHome }}
				{{ site.Title }}
			{{ else }}
				{{ printf "%s | %s" .Title site.Title }}
			{{ end }}
		</title>
		{{ partial "head/css.html" . }}
		{{ partial "head/js.html" . }}
	</head>
	<div class="noise animate-noise"></div>
	<body
		class="{{ if not .IsHome }}
			pb-8
		{{ end }} flex min-h-screen flex-col bg-gray-50 font-serif text-slate-900"
	>
		{{ block "body" . }}
			{{ if not .IsHome }}
				{{ partial "header.html" . }}
			{{ end }}
			<main class="container prose grow px-6">
				{{ block "main" . }}{{ end }}
			</main>
			{{ if not .IsHome }}
				{{ partial "footer.html" . }}
			{{ end }}
		{{ end }}
	</body>
</html>
