{{ define "main" }}
	<div
		class="flex min-h-screen flex-col items-center justify-center text-center"
	>
		<div>
			<img
				class="m-1 w-24 rounded-full p-1 ring-2 ring-gray-300"
				src="/me.jpg"
				alt="Ludovic Delafontaine's picture"
			/>
		</div>
		<div>
			<h1 class="m-1">{{ .Title }}</h1>
			{{ .Content }}
		</div>
		<div>
			{{ range $index, $value :=  site.Menus.main }}
				{{ if $index }}·{{ end }}
				<a href="{{ .URL }}" class="no-underline">
					{{ .Name }}
				</a>
			{{ end }}
		</div>
	</div>
{{ end }}
