@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.noise {
	position: fixed;
	z-index: -99999;
	width: 100%;
	height: 100%;
}

.noise:before {
	content: "";
	position: absolute;
	animation: noise 1s steps(8) both infinite;
	will-change: auto;
	background-image: url(/svg/noise.svg);
	background-size: contain;
	width: 200rem;
	height: 200rem;
	left: -50rem;
	top: -50rem;
	opacity: 0.3;
}

@keyframes noise {
	from {
		transform: translate(-10%, 0%);
	}

	to {
		transform: translate(10%, 0%);
	}
}
