@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-noise {
	position: fixed;
	z-index: -99999;
	width: 100vw;
	height: 100vh;
}

.bg-noise:before {
	content: "";
	position: absolute;
	animation: bg-noise 1s steps(8) both infinite;
	background-image: url(/svg/bg-noise.svg);
	background-size: contain;
	width: 120vw;
	height: 100vh;
	left: -10vw;
}

@keyframes bg-noise {
	from {
		transform: translate(-10vw, 0px);
	}

	to {
		transform: translate(10vw, 0px);
	}
}
