{{ define "main" }}

	{{/*  <div
		class="flex min-h-screen flex-col items-center justify-center text-center"
	>
		<div>
			<h1 class="m-1">{{ .Title }}</h1>
			{{ with .Summary }}
				<p>{{ . }}</p>
			{{ end }}
			{{ .Content }}
		</div>
		{{ if .Pages }}
			<div>
				{{ range $index, $value := .Pages }}
					{{ if $index }}·{{ end }}
					<a href="{{ .RelPermalink }}" class="no-underline">
						{{- .Name -}}
					</a>
				{{ end }}
			</div>
		{{ else }}
			<div class="italic">
				No content found in this section (yet). Please check back later!
			</div>
		{{ end }}
	</div>  */}}
	allo
{{ end }}
