{{ define "main" }}
	<article class="mt-16 text-justify">
		<header class="text-center">
			<h1 class="m-1">{{ .Title }}</h1>
			{{ with or (.Params.Subtitle) (.Summary) }}
				<p class="italic">{{ . }}</p>
			{{ end }}
			<p>
				Created: {{ .Date | time.Format "2006-01-02" }} ·
				{{ with .GitInfo }}
					Updated:
					{{ .CommitDate.Format "2006-01-02" }}
				{{ end }}
			</p>
			{{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
		</header>
		<hr />
		{{ with .TableOfContents }}
			{{ if ne . "<nav id=\"TableOfContents\"></nav>" }}
				<aside>
					<h2>Table of contents</h2>
					{{ . }}
					<hr />
				</aside>
			{{ end }}
		{{ end }}
		{{ .Content }}
	</article>
{{ end }}
