<header
	class="fixed bottom-0 left-0 right-0 z-50 flex h-10 items-center justify-between gap-x-3 border-t border-slate-300 bg-gray-50 px-6 text-sm"
>
	<nav class="w-full max-w-xs overflow-hidden">
		<p class="overflow-x-auto text-ellipsis whitespace-nowrap">
			{{- range $index, $value := .Ancestors.Reverse }}
				{{ if not .IsHome }}
					<a href="{{ .RelPermalink }}" class="underline">{{ .Name }}</a>
				{{- else }}
					<a href="{{ .RelPermalink }}" class="underline">$HOME</a>
				{{- end }}
				&gt;
			{{- end }}
			<a href="{{ .Page.Permalink }}" class="underline">{{ .Page.Name }}</a>
		</p>
	</nav>
	<div>
		<p class="flex items-center whitespace-nowrap">
			&copy;
			<a
				href="https://github.com/ludelafo/ludelafo/blob/main/LICENSE.md"
				target="_blank"
				rel="license"
				class="ml-1"
			>
				CC BY-SA 4.0
			</a>
		</p>
	</div>
</header>
