<header
	class="z-50 mx-4 flex h-10 items-center justify-between gap-x-3 font-mono text-xs"
>
	<div>
		{{ if not .IsHome }}
			{{- range $index, $value := .Ancestors.Reverse }}
				{{ if not .IsHome }}
					<a href="{{ .RelPermalink }}" class="mx-1 underline">{{ .Name }}</a>
				{{- else }}
					<a href="{{ .RelPermalink }}" class="mx-1 underline">Home</a>
				{{- end }}
				>
			{{- end }}
			<a href="{{ .Page.Permalink }}" class="mx-1 underline">
				{{ .Page.Name }}
			</a>
		{{ end }}
	</div>
</header>
