{{- /*
	For a given taxonomy, renders a list of terms assigned to the page.

	@context {page} page The current page.
	@context {string} taxonomy The taxonony.

	@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .)
}}
*/}}
{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
	{{- $label := (index . 0).Parent.LinkTitle }}
	<div>
		{{ range $index, $value := . }}
			{{ if $index }}·{{ end }}
			<a
				href="{{ .RelPermalink }}"
				class="inline-flex items-center rounded-md bg-gray-200 px-2 py-1 text-xs font-medium text-gray-600 no-underline"
			>
				{{ .LinkTitle }}
			</a>
		{{- end }}
	</div>
{{- end }}
